<a href="https://colab.research.google.com/github/mateo20-bot/Proyectos_/blob/proyecto-VII/PROYECTO_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/economicas.csv')

In [ ]:
df

,ESTU_CONSECUTIVO,RESULT_CODIGOPRUEBA,RESULT_NOMBREPRUEBA,RESULT_PUNTAJE,RESULT_DESEMPENO,ESTU_AGREGADO,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,...,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PNBC,PUNT_GLOBAL,PERCENTIL_NBC,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_IES,ESTU_ESTADOINVESTIGACION
0,EK202120243329,2001,ANÁLISIS ECONÓMICO,128,2,S,CC,COLOMBIA,M,14/10/1996,...,3.0,71,57,201,95,99,51.049129,2.0,3,PUBLICAR
1,EK202120227314,2001,ANÁLISIS ECONÓMICO,209,4,S,CC,COLOMBIA,M,17/02/2001,...,4.0,100,100,222,99,100,66.866795,4.0,4,PUBLICAR
2,EK202120088295,2001,ANÁLISIS ECONÓMICO,106,1,S,CC,COLOMBIA,M,02/10/1991,...,NaN,1,1,88,1,2,37.751353,1.0,2,PUBLICAR
3,EK202120120119,2001,ANÁLISIS ECONÓMICO,89,1,S,CC,COLOMBIA,F,23/07/1998,...,1.0,12,7,159,49,71,59.846055,4.0,2,PUBLICAR
4,EK202120248108,2001,ANÁLISIS ECONÓMICO,122,1,S,CC,COLOMBIA,M,23/09/1997,...,2.0,20,13,156,44,67,48.248516,2.0,2,PUBLICAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3850,EK202120232172,2001,ANÁLISIS ECONÓMICO,151,2,S,CC,COLOMBIA,M,18/03/1996,...,3.0,93,87,196,93,98,75.589753,4.0,4,PUBLICAR
3851,EK202120320571,2001,ANÁLISIS ECONÓMICO,162,3,S,CC,COLOMBIA,F,26/07/2000,...,3.0,80,69,192,90,97,75.346915,4.0,4,PUBLICAR
3852,EK202120313923,2001,ANÁLISIS ECONÓMICO,0,1,S,CC,COLOMBIA,F,30/01/1989,...,3.0,71,57,158,47,70,48.890151,2.0,2,PUBLICAR
3853,EK202120281981,2001,ANÁLISIS ECONÓMICO,110,1,S,CC,COLOMBIA,F,23/04/1998,...,1.0,14,9,117,6,15,43.091355,1.0,2,PUBLICAR
3854,EK202120224998,2001,ANÁLISIS ECONÓMICO,115,1,S,CC,COLOMBIA,M,13/02/1996,...,1.0,7,4,147,31,54,NaN,NaN,2,PUBLICAR

In [ ]:
df[df.duplicated()]

Empty DataFrame
Columns: [ESTU_CONSECUTIVO, RESULT_CODIGOPRUEBA, RESULT_NOMBREPRUEBA, RESULT_PUNTAJE, RESULT_DESEMPENO, ESTU_AGREGADO, ESTU_TIPODOCUMENTO, ESTU_NACIONALIDAD, ESTU_GENERO, ESTU_FECHANACIMIENTO, ESTU_EXTERIOR, PERIODO, ESTU_ESTUDIANTE, ESTU_PAIS_RESIDE, ESTU_DEPTO_RESIDE, ESTU_COD_RESIDE_DEPTO, ESTU_MCPIO_RESIDE, ESTU_COD_RESIDE_MCPIO, ESTU_AREARESIDE, ESTU_COLE_TERMINO, ESTU_CODDANE_COLE_TERMINO, ESTU_COD_COLE_MCPIO_TERMINO, ESTU_TITULOOBTENIDOBACHILLER, ESTU_VALORMATRICULAUNIVERSIDAD, ESTU_PAGOMATRICULABECA, ESTU_PAGOMATRICULACREDITO, ESTU_PAGOMATRICULAPADRES, ESTU_PAGOMATRICULAPROPIO, ESTU_COMOCAPACITOEXAMENSB11, ESTU_TIPODOCUMENTOSB11, ESTU_SEMESTRECURSA, FAMI_EDUCACIONPADRE, FAMI_EDUCACIONMADRE, FAMI_TRABAJOLABORPADRE, FAMI_TRABAJOLABORMADRE, FAMI_ESTRATOVIVIENDA, ESTU_OTROCOLE_TERMINO, FAMI_TIENEINTERNET, FAMI_TIENECOMPUTADOR, FAMI_TIENELAVADORA, FAMI_TIENEHORNOMICROOGAS, FAMI_TIENESERVICIOTV, FAMI_TIENEAUTOMOVIL, FAMI_TIENEMOTOCICLETA, FAMI_TIENECONSOLAVIDEOJUEGOS, FAMI_CUANTOSCOMPARTEBAÑO, ESTU_PRESENTACIONCASA, ESTU_PAISDOCUMENTOS11, ESTU_HORASSEMANATRABAJA, INST_COD_INSTITUCION, INST_NOMBRE_INSTITUCION, ESTU_PRGM_ACADEMICO, ESTU_SNIES_PRGMACADEMICO, GRUPOREFERENCIA, ESTU_PRGM_CODMUNICIPIO, ESTU_PRGM_MUNICIPIO, ESTU_PRGM_DEPARTAMENTO, ESTU_NIVEL_PRGM_ACADEMICO, ESTU_METODO_PRGM, ESTU_NUCLEO_PREGRADO, ESTU_INST_CODMUNICIPIO, ESTU_INST_MUNICIPIO, ESTU_INST_DEPARTAMENTO, INST_CARACTER_ACADEMICO, INST_ORIGEN, ESTU_PRIVADO_LIBERTAD, ESTU_COD_MCPIO_PRESENTACION, ESTU_MCPIO_PRESENTACION, ESTU_DEPTO_PRESENTACION, ESTU_COD_DEPTO_PRESENTACION, MOD_RAZONA_CUANTITAT_PUNT, MOD_RAZONA_CUANTITAT_DESEM, MOD_RAZONA_CUANTITATIVO_PNAL, MOD_RAZONA_CUANTITATIVO_PNBC, MOD_LECTURA_CRITICA_PUNT, MOD_LECTURA_CRITICA_DESEM, MOD_LECTURA_CRITICA_PNAL, MOD_LECTURA_CRITICA_PNBC, MOD_COMPETEN_CIUDADA_PUNT, MOD_COMPETEN_CIUDADA_DESEM, MOD_COMPETEN_CIUDADA_PNAL, MOD_COMPETEN_CIUDADA_PNBC, MOD_INGLES_PUNT, MOD_INGLES_DESEM, MOD_INGLES_PNAL, MOD_INGLES_PNBC, MOD_COMUNI_ESCRITA_PUNT, MOD_COMUNI_ESCRITA_DESEM, MOD_COMUNI_ESCRITA_PNAL, MOD_COMUNI_ESCRITA_PNBC, PUNT_GLOBAL, PERCENTIL_NBC, PERCENTIL_GLOBAL, ESTU_INSE_INDIVIDUAL, ESTU_NSE_INDIVIDUAL, ESTU_NSE_IES, ESTU_ESTADOINVESTIGACION]
Index: []

[0 rows x 97 columns]

In [ ]:
df.drop_duplicates(inplace= True)

In [ ]:
df

,ESTU_CONSECUTIVO,RESULT_CODIGOPRUEBA,RESULT_NOMBREPRUEBA,RESULT_PUNTAJE,RESULT_DESEMPENO,ESTU_AGREGADO,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,...,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PNBC,PUNT_GLOBAL,PERCENTIL_NBC,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_IES,ESTU_ESTADOINVESTIGACION
0,EK202120243329,2001,ANÁLISIS ECONÓMICO,128,2,S,CC,COLOMBIA,M,14/10/1996,...,3.0,71,57,201,95,99,51.049129,2.0,3,PUBLICAR
1,EK202120227314,2001,ANÁLISIS ECONÓMICO,209,4,S,CC,COLOMBIA,M,17/02/2001,...,4.0,100,100,222,99,100,66.866795,4.0,4,PUBLICAR
2,EK202120088295,2001,ANÁLISIS ECONÓMICO,106,1,S,CC,COLOMBIA,M,02/10/1991,...,NaN,1,1,88,1,2,37.751353,1.0,2,PUBLICAR
3,EK202120120119,2001,ANÁLISIS ECONÓMICO,89,1,S,CC,COLOMBIA,F,23/07/1998,...,1.0,12,7,159,49,71,59.846055,4.0,2,PUBLICAR
4,EK202120248108,2001,ANÁLISIS ECONÓMICO,122,1,S,CC,COLOMBIA,M,23/09/1997,...,2.0,20,13,156,44,67,48.248516,2.0,2,PUBLICAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3850,EK202120232172,2001,ANÁLISIS ECONÓMICO,151,2,S,CC,COLOMBIA,M,18/03/1996,...,3.0,93,87,196,93,98,75.589753,4.0,4,PUBLICAR
3851,EK202120320571,2001,ANÁLISIS ECONÓMICO,162,3,S,CC,COLOMBIA,F,26/07/2000,...,3.0,80,69,192,90,97,75.346915,4.0,4,PUBLICAR
3852,EK202120313923,2001,ANÁLISIS ECONÓMICO,0,1,S,CC,COLOMBIA,F,30/01/1989,...,3.0,71,57,158,47,70,48.890151,2.0,2,PUBLICAR
3853,EK202120281981,2001,ANÁLISIS ECONÓMICO,110,1,S,CC,COLOMBIA,F,23/04/1998,...,1.0,14,9,117,6,15,43.091355,1.0,2,PUBLICAR
3854,EK202120224998,2001,ANÁLISIS ECONÓMICO,115,1,S,CC,COLOMBIA,M,13/02/1996,...,1.0,7,4,147,31,54,NaN,NaN,2,PUBLICAR

In [ ]:
df = df.drop(['ESTU_CONSECUTIVO', 'RESULT_NOMBREPRUEBA', 'RESULT_CODIGOPRUEBA', 'ESTU_AGREGADO', 'ESTU_TIPODOCUMENTO', 'ESTU_NACIONALIDAD', 'ESTU_NACIONALIDAD','ESTU_ESTADOINVESTIGACION', 'ESTU_EXTERIOR','PERIODO','ESTU_ESTUDIANTE',	'ESTU_PAIS_RESIDE',	'ESTU_DEPTO_RESIDE','ESTU_COD_RESIDE_DEPTO', 'ESTU_MCPIO_RESIDE',	'ESTU_COD_RESIDE_MCPIO',	'ESTU_AREARESIDE',	'ESTU_COLE_TERMINO',	'ESTU_CODDANE_COLE_TERMINO',	'ESTU_COD_COLE_MCPIO_TERMINO', 'ESTU_VALORMATRICULAUNIVERSIDAD',	'ESTU_PAGOMATRICULABECA',	'ESTU_PAGOMATRICULACREDITO',	'ESTU_PAGOMATRICULAPADRES',	'ESTU_PAGOMATRICULAPROPIO', 'ESTU_TIPODOCUMENTOSB11',	'ESTU_SEMESTRECURSA',	'FAMI_EDUCACIONPADRE',	'FAMI_EDUCACIONMADRE', 'FAMI_TRABAJOLABORPADRE',	'FAMI_TRABAJOLABORMADRE',	'FAMI_ESTRATOVIVIENDA',	'ESTU_OTROCOLE_TERMINO' ], axis=1)

In [ ]:
df

,RESULT_PUNTAJE,RESULT_DESEMPENO,ESTU_GENERO,ESTU_FECHANACIMIENTO,ESTU_TITULOOBTENIDOBACHILLER,ESTU_COMOCAPACITOEXAMENSB11,FAMI_TIENEINTERNET,FAMI_TIENECOMPUTADOR,FAMI_TIENELAVADORA,FAMI_TIENEHORNOMICROOGAS,...,MOD_COMUNI_ESCRITA_PUNT,MOD_COMUNI_ESCRITA_DESEM,MOD_COMUNI_ESCRITA_PNAL,MOD_COMUNI_ESCRITA_PNBC,PUNT_GLOBAL,PERCENTIL_NBC,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_IES
0,128,2,M,14/10/1996,Bachiller académico,No realizó ninguna prueba de preparación,Si,Si,Si,No,...,159,3.0,71,57,201,95,99,51.049129,2.0,3
1,209,4,M,17/02/2001,Bachiller académico,Repasó por cuenta propia,Si,Si,Si,Si,...,300,4.0,100,100,222,99,100,66.866795,4.0,4
2,106,1,M,02/10/1991,Bachiller técnico,Repasó por cuenta propia,Si,Si,Si,No,...,0,NaN,1,1,88,1,2,37.751353,1.0,2
3,89,1,F,23/07/1998,Bachiller académico,Repasó por cuenta propia,Si,Si,Si,Si,...,101,1.0,12,7,159,49,71,59.846055,4.0,2
4,122,1,M,23/09/1997,Bachiller académico,Repasó por cuenta propia,Si,Si,Si,Si,...,117,2.0,20,13,156,44,67,48.248516,2.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3850,151,2,M,18/03/1996,Bachiller académico,Repasó por cuenta propia,Si,Si,Si,Si,...,180,3.0,93,87,196,93,98,75.589753,4.0,4
3851,162,3,F,26/07/2000,NaN,NaN,Si,Si,Si,Si,...,166,3.0,80,69,192,90,97,75.346915,4.0,4
3852,0,1,F,30/01/1989,NaN,NaN,Si,Si,Si,Si,...,159,3.0,71,57,158,47,70,48.890151,2.0,2
3853,110,1,F,23/04/1998,NaN,NaN,Si,Si,Si,No,...,108,1.0,14,9,117,6,15,43.091355,1.0,2
3854,115,1,M,13/02/1996,Bachiller académico,Repasó por cuenta propia,NaN,NaN,NaN,NaN,...,90,1.0,7,4,147,31,54,NaN,NaN,2